<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Page</title>

    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="range-input.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <input id="textInp" type="text" style="height: 20px; margin-top: 20%; border-radius: 2%;">
    <input id="nextBtn" type="button" value="Next" style="margin-top: 10px;">
    <span id="notification"></span>

    <script>
        // var socket = io("http://localhost:3000");
        var socket = io("https://esp8266-sendreq.herokuapp.com");
        $(`#nextBtn`).on("click", () => {
            let code = $(`#textInp`).val();

            if (code == "1") {
                socket.emit("Go to Main Page");
                window.location.replace("/")
            }
            else {
                setTimeout( () => {
                    $("#notification").html("")
                }, 1000)
                $("#notification").html("Try another code")
            }
            console.log(code);
        })
    </script>
</body>
</html>