<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

    <script src="jquery.js"></script>
    <!-- <script src="https://esp8266-sendreq.herokuapp.com/socket.io/socket.io.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="xuly.js"></script> -->

    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="range-input.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
</head>
<body>

    <div id="wrapper">
        <!-- <div id="divMsg">
            <%if (typeof file != "undefined") {%>
            <div id="divMsg1">
                <img id="iconMsg1" src="uploads/green_tick.png" width="16px">
                <span id="txtMsg1"><%= typeof msg != "undefined" ? msg : "" %></span>
            </div>
            <%}%>
            <span id="txtMsg2"></span>
        </div> -->
        

        <div class="imageArea">

                <div class="uploadArea">

                    <form id="myForm" action="/upload" method="POST" enctype="multipart/form-data">
                        <input type="file" id="realbtnFile" name="avatar" hidden="hidden"/>
                        <input type="button" id="btnFile" value="Choose a file"/>
                        <span id="txtCustom">No file chosen, yet</span>
                        <input type="submit" id="btnSubmit" value="Upload file" hidden="hidden"/>
                    </form>

                    <%if (typeof file != "undefined") {%>
                    <img class="image" src="<%= typeof file != "undefined" ? file : "" %>" width="400px">

                    <span hidden id="uploadPath"><%= file %></span>
                    <span hidden id="fileExtension"><%= fileExtension %></span>
                    <%}%>
                </div>

                
                <div class="convertArea" style="display: none;">
                    <div class="removeBgArea">
                        <div class="nav">
                            <input id="removeBgConvertBtn"type="button" value="Remove Background">
                        </div>
            
                        
                        <div class="removeBgDisplay">
                            <img class="image" width="400px" src="resources/not-available.png">
                            <span class="notification"></span>
                        </div>
                    </div>
                        
                    <div class="outlineArea">
                        <div class="nav">
                            <div class="range-input">
                                <div class="threshold">
                                    <span class="threshold">Threshold</span>
                                    <input id="thresholdInp" type="range" min="0" max="255" step="1">
                                </div>
    
                                <div class="blur">
                                    <span class="blur">Blur</span>
                                    <input id="blurInp" type="range" min="0" max="100" step="0.1">
                                </div>
                            </div>


                            <input id="outlineConvertBtn"type="button" value="Outline">
                        </div>
            
                        
                        <div class="display">
                            <img id="outlineImg" class="image" width="400px" src="resources/not-available.png">
                            <span class="notification"></span>
                        </div>
                    </div>
            
                    <div class="vectorizeArea">
                        <div class="nav">
                            <input id="vectorizeConvertBtn"type="button" value="Vectorize" disabled>
                        </div>
            
                        
                        <div class="display">
                            <img class="image" width="400px" hidden>
                            <span class="notification"></span>
                        </div>
                    </div>
                </div>
                
        </div>

        <div class="loadFileArea">
            <input disabled class="button load-file" type="button" value="Load File SVG">
        </div>

        <!-- <div class="debugArea">
            <img class="image1">
            <img class="image2">
            <img class="image3">
        </div> -->

        <div class="navigationArea" hidden>
            <div id="nav1">
                <button id="btnUp" type="button">Up</button>
                <button id="btnLeft" type="button">Left</button>
                <button id="btnRight" type="button">Right</button>
                <button id="btnDown" type="button">Down</button>
            </div>
    
            <div id="nav2">
    
                <label>x</label>
                <input id="ipToX" type="number">
    
                <label>y</label>
                <input id="ipToY" type="number">
    
                <input id="btnMoveTo" type="button" value="Move To">
            </div>
    
            <div id="nav5">
    
                <input id="btnGrid" type="button" value="Grid On">
            </div>
        </div>


        <div class="additionalArea">
            <div class="svgSamples">
                <span class="svg-samples">SVG Samples</span>
                <select class="selection">
                    <option value="C-letter.svg">C-letter</option>
                    <option value="1624421933466-stitch-1624422158466-outline-1624422227370-vectorize.svg">Stitch</option>
                    <option value="hourglass.svg">Hourglass</option>
                    <option value="shark.svg">Shark</option>
    
                </select>
            </div>
    
            <div class="homePoint">
                <span class="home-point">Home Point:</span>
                <span class="x">x </span>
                <input class="x" type="number">
                <span class="y">y </span>
                <input class="y" type="number">
            </div>
    
            <div class="zoomArea">
        
                <span class="zoom-index">Zoom index</span>
    
                <input class="zoomIndex" type="number" value="1">
            </div>

        </div>


        <div class="timeArea">
            <span class="label">Estimated Time For Completion:</span>
            <span class="time">0.0s</span>
        </div>
        <div hidden id="nav4">
            <label>SVG</label>
            <input id="letMrMachineDraw" type="button" value="Let Mr.Machine draw this!!!">
        </div>

    </div>

    <div class="canvasArea">
        <canvas id="baseCanvas"></canvas>
        <canvas id="homePointCanvas"></canvas>
        <script src="canvas.js"></script>
    </div>
</body>
</html>