*{font-family: 'Ubuntu', sans-serif;}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #FFC947;
}



input[type=button], input[type=submit] {
    background-color: #99154E;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
}

input[type=button]:disabled {
    background-color: #D7B19D;
}

input[type=number] {
    width: 4rem;
    height: 2rem;
    background: rgba(255, 255, 255, 0.2);

    border: 0.5px solid #99154E;
    border-radius: 0.5rem;
}

select {
    width: 5rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.2);

    border: 0.5px solid #99154E;
    border-radius: 0.5rem;
}

#wrapper {
    background: white;
    background: linear-gradient(
        to right top,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.05)
    );

    border-radius: 3.5rem;
    padding: 3rem;

    display: flex;
    flex-direction: column;
}

.imageArea {
    display: flex;

}
.convertArea {
    display: flex;
    flex-direction: row;
    height: 450px;
}

.uploadArea, .removeBgArea, .outlineArea, .vectorizeArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
}

.removeBgArea .nav {
    margin-bottom: 15px;
}

.outlineArea .nav {
    display: flex;
    margin-bottom: 12px;
}
.range-input {
    display: flex;
    flex-direction: column;
}
.threshold, .blur {
    display: flex;
}
span.threshold, span.blur{
    width: 120px;
}

.image {
    border: 2px solid #99154E;
    border-radius: 5%;
}

.loadFileArea {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.additionalArea {
    display: flex;
}
.svgSamples, .homePoint, .zoomArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
span.svg-samples, span.home-point, span.zoom-index{
    margin-right: 10px;
}

span.x, span.y {
    margin-right: 5px;
    margin-left: 10px;
}

.timeArea {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* .timeArea .label, .timeArea .label {

} */

.canvasArea {
    display: flex;
    border: 10px solid red;
    align-items: center;
    justify-content: center;
}

#baseCanvas {
    position: absolute;
    z-index: 0;
    flex: 1;
    border: none;

    max-height: 720px;

    margin-top: 25rem;
    border: 2px solid #99154E;
    border-radius: 1rem;
}

#homePointCanvas {
    position: absolute;
    z-index: 1;
    flex: 1;

    max-height: 720px;

    margin-top: 25rem;
    border: 2px solid #99154E;
    border-radius: 1rem;
}
