input[type=range] {
    width: 100%;
    margin: 3.3px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #9a154e;
    /* border: 1px solid #010101; */
    border-radius: 11px;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
  }

  input[type=range]:disabled::-webkit-slider-runnable-track {
    background: #D7B19D;
  }

  input[type=range]::-webkit-slider-thumb {
    margin-top: -4.3px;
    width: 11px;
    height: 18px;
    background: #ffffff;
    border: 0.3px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
  }

  /* input[type=range]::-moz-range-thumb {
    width: 11px;
    height: 18px;
    background: #ffffff;
    border: 0.3px solid #000000;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 4.3px 0;
    color: transparent;
    width: 100%;
    height: 11.4px;
    cursor: pointer;
  } */

  input[type=range]::-ms-thumb {
    width: 11px;
    height: 18px;
    background: #ffffff;
    border: 0.3px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }

  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  